{% extends 'master.html' %}
{% load static %}
{% block title %} ४०४  {% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<!-- 404 -->
  <main class="error-content d-flex h-100 align-items-center text-center">
    <div class="container">
      <h1>४०४ </h1>
      <h2>पृष्ठ नहीं मिला</h2>

      <p class="lead">क्षमा करें, लेकिन आप जिस पृष्ठ को देखने का प्रयास कर रहे हैं वह मौजूद नहीं है।</p>
      <a href="/" class="btn btn-primary"><i class="fa fa-home"></i> होमपेज पर जाये</a>
    </div>
  </main>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}