<!DOCTYPE html>
<html lang="hi">
<head>
    {% load static %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>हिन्दुस्तानी न्यूज़  {% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'assist/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assist/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'assist/css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'assist/css/colors.css' %}" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="{% static 'assist/css/version/tech.css' %}" rel="stylesheet">
    <link href="{% static 'assist/css/icofont/icofont.min.css' %}" rel="stylesheet">


</head>



<body onload="myfunction()" >
<div id="loading" >

</div>
<style>
   html{
       scroll-behavior:smooth;

   }
    #loading{

      width:100%;
      height:100vh;
      background:#fff url('{% static 'images/pre-loader-1.1.gif' %}') no-repeat center;
      position:fixed;
      z-index:99999;

    }
</style>

<!--- start navigation bar here --->
<div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><h1 style="color:orange;margin-top:12px;">हिन्दुस्तानी <b style="color:green;"> न्यूज़   </b></h1></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto" style="margin-left:100px;">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}" style="font-size:20px;">होम </a>
                            </li>
                            <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;">समाचार </a>
                                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                    <li>
                                        <div class="container">
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab">
                                                    <button class="tablinks active" onclick="openCategory(event, 'cat01')">मनोरंजन</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat02')">स्मार्टफोन</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat03')">गैजेट</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat04')">कोविड 19 खबरें</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat05')">देशविदेश ना समाचार </button>
                                                </div>

                                                <div class="tab-details clearfix">
                                                    <div id="cat01" class="tabcontent active">
                                                        <div class="row">
                                                            <!--- Start foor loop for Bolliwood   --->
                                                            {% for i in ENTERTAINMENT %}
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="{{i.get_absolute_url}}" title="">
                                                                            <img src="/media/{{i.Img}}"  class="img-fluid" width="800px;" height="460px;">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">{{i.Category}}</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="{{i.hindi_title}}" title="">{{i.hindi_title | truncatechars:60}}</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                             </div>
                                                            {% endfor %}
                                                            <!--- end foor loop for viral videos  --->
                                                        </div><!-- end row -->
                                                    </div>

                                                    <div id="cat02" class="tabcontent">
                                                        <div class="row">
                                                            <!--- end foor loop for Technology  --->
                                                            {% for i in TRAVEL %}
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="{{i.get_absolute_url}}" title="">
                                                                            <img src="/media/{{i.Img}}"  class="img-fluid" width="800px;" height="460px;">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">{{i.Category}}</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="{{i.Title}}" title="">{{i.hindi_title | truncatechars:60}}</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                             </div>
                                                            {% endfor %}
                                                             <!--- Close techology foorloop --->

                                                        </div><!-- end row -->
                                                    </div>

                                                    <div id="cat03" class="tabcontent">
                                                        <div class="row">
                                                            <!--- start Gedgets for loop --->
                                                           {% for i in GEDGETS %}
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="{{i.get_absolute_url}}" title="{{i.Title}]">
                                                                            <img src="/media/{{i.Img}}" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">{{i.Category}}</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="{{i.Title}}" title="">{{i.hindi_title| truncatechars:60}}</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>

                                                            {% endfor %}

                                                            <!--- Close forllop social media ---->

                                                        </div><!-- end row -->
                                                    </div>
                                                    <div id="cat04" class="tabcontent">
                                                        <div class="row">
                                                            <!-- strat car news Fourloop -->
                                                            {% for i in CAR_NEWS %}
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="{{i.get_absolute_url}}" title="{{i.Title}]">
                                                                            <img src="/media/{{i.Img}}" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">{{i.Category}}</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="{{i.Title}}" title="">{{i.hindi_title| truncatechars:60}}</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>

                                                            {% endfor %}
                                                            <!-- close car news Fourloop -->

                                                        </div><!-- end row -->
                                                    </div>
                                                    <div id="cat05" class="tabcontent">
                                                        <div class="row">
                                                            {% for i in WORLDWIDE %}
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="{{i.get_absolute_url}}" title="{{i.Title}]">
                                                                            <img src="/media/{{i.Img}}" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div><!-- end hover -->
                                                                            <span class="menucat">{{i.Category}}</span>
                                                                        </a>
                                                                    </div><!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="{{i.Title}}" title="">{{i.hindi_title| truncatechars:60}}</a></h4>
                                                                    </div><!-- end meta -->
                                                                </div><!-- end blog-box -->
                                                            </div>

                                                            {% endfor %}
                                                            <!-- start woeldwild Fourloop -->

                                                        </div><!-- end row -->
                                                    </div>
                                                </div><!-- end tab-details -->
                                            </div><!-- end mega-menu-content -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/gedgets" style="font-size:20px;">गैजेट</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/viral_videos" style="font-size:20px;">वीडियो</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/funny_images" style="font-size:20px;">मजाकिया चित्र</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog" style="font-size:20px;">ब्लॉग</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact" style="font-size:20px;">संपर्क करें</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" type="button" data-toggle="modal" data-target="#exampleModal" style="font-size:20px;">प्रतिक्रिया</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
<!--- close footer here --->
{% block body %}{% endblock %}
<!--- start footer here --->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="{% url 'index' %}"><h1 style="color:white;">ट्रूली&nbsp;<b>ब्लॉग </b></h1></a>
                                <p>हिन्दुस्तानी न्यूज़  में आपको बहोत अच्छे और सच्चे ब्लॉग की जानकारी दी जाएगी। ट्रूली ब्लॉग सभी माहिती का विवरण करता हे।  </p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">लोकप्रिय श्रेणियां</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">विपणन <span>(21)</span></a></li>
                                    <li><a href="#">एसईओ सेवा <span>(15)</span></a></li>
                                    <li><a href="#">डिजिटल एजेंसी <span>(31)</span></a></li>
                                    <li><a href="#">पैसा बनाएं <span>(22)</span></a></li>
                                    <li><a href="#">ब्लॉगिंग<span>(66)</span></a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">हमारे बारे में</a></li>
                                    <li><a href="#">विज्ञापन</a></li>
                                    <li><a href="#">हमारे लिए लिखें</a></li>
                                    <li><a href="#">ट्रेडमार्क</a></li>
                                    <li><a href="#">लाइसेंस और मदद</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; हिन्दुस्तानी न्यूज़  : <a href="#">टहिन्दुस्तानी न्यूज़  टीम </a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
<!---  Feed Back Model--->



<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:blue;">अपनी महत्वपूर्ण प्रतिक्रिया दें</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
          <div class="input-group mb-3" >
             <textarea class="form-control" rows="5" id="message" placeholder="आपकी प्रतिक्रिया" name="feedback" required></textarea>
         </div>
          <div class="input-group mb-3" >
             <input type="text" class="form-control" id="name" placeholder="संक्षिप्त सारांश" style="height:60px;" name="Short_Summery" required>
         </div>
            <div class="input-group mb-3" >
             <input type="email" class="form-control" id="email" placeholder="आपका ईमेल " style="height:60px;" name="email" required>
         </div>
            <br>
            <button class="btn btn-primary" type="submit" style="width:200px;height:50px;letter-spacing:1px;">Submit Feedback</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<script>
    var preloader = document.getElementById('loading')
    function myfunction(){
         preloader.style.display = 'none';
    }

       $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'assist/js/jquery.min.js' %}"></script>
    <script src="{% static 'assist/js/tether.min.js' %}"></script>
    <script src="{% static 'assist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assist/js/custom.js' %}"></script>






</body>
</html>